@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.CalorieForm  {
    width: 500px;
    height: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    padding: 30px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 6px;
}

.CalorieForm select {
    max-width: 200px;
}

.kalorie{
    font-weight: 800;
    
}

.CalorieForm h1 {
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
}

.CalorieResult {
    padding: 60px 40px 60px 40px;
    background-color: white;
    border: 2px solid lightgrey;
    font-size: 25px;
    font-family: 'Times New Roman', 'Times, serif';height: auto;
    width: 500px;
    height: 500px;
    text-align: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

button { 
    margin: 5px;
}