@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.AfterBmr {
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    padding: 30px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 6px;
    font-family: 'Times New Roman', 'Times, serif';
    
}

nav {
    display: inline;
    float: left;
    padding: 5px;
}

.content {
    display: inline-block;
    padding: 10px;

}

footer {
    display: inline;
    float: left;
    padding: 7px;
}
.btn-outline-info{
    
    padding: 12px;
    border-radius: 6px;
    font-size: 22px;
    margin: 40px;
}

.start {

    padding: 60px 40px 60px 40px;
    background-color: white;
    border: 2px solid lightgrey;
    font-size: 25px;
    font-family: 'Times New Roman', 'Times, serif';
    height: auto;
    width: 500px;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
}