
<header>
    <h1 (click)="activePage='basic'">Kalkulator Kalorii</h1>
        <nav class="menu">
            <ul class="navi">
                <li (click)="activePage='bmi'">Oblicz BMI</li>
                <li (click)="activePage='bmr'">Oblicz BMR</li>
                <li (click)="activePage='foodApi'">Kalkulator Kalorii</li>
                <li>Wykresy</li>
            </ul>
        </nav>
</header>
    
<div class="main"> 
    <div *ngIf="activePage=='basic'"class="welcome">
        <h1>Najprostszy sposób na kontrolowanie swojej diety!</h1>
        <h2>Zacznij od dziś!</h2>
        <button (click)="activePage='bmr'" class="btn-outline-info">Oblicz swoje dzienne zapotrzebowanie!</button>
    </div>
    <app-day-calorie-form *ngIf="activePage=='bmr'"></app-day-calorie-form>
    <app-bmi-form *ngIf="activePage=='bmi'"></app-bmi-form>
    <app-food-api *ngIf="activePage=='foodApi'"></app-food-api>

</div>
<footer>
    <ul>
        <li>O nas</li>
        <li>Reklama</li>
        <li>Kontakt</li>
    </ul>
</footer>




<!-- <div *ngIf="activePage=='basic'" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Najprostszy sposób na kontrolowanie swojej diety!</h5>
      <p class="card-text">Zacznij od dziś!</p>
      <button (click)="activePage='bmr'" class="btn-outline-info">Oblicz swoje dzienne zapotrzebowanie!</button>
    </div>
</div> -->
