@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.welcome {
    padding: 60px;
    background-color: white;
    border: 2px solid lightgrey;
    text-align: center;
    width: auto;
    max-width: 500px;
    min-height: 300px;
    border-radius: 6px;
    margin-top: 100px;
    margin-left: 100px;    
    position: absolute;

}


.btn-outline-info{
    
    padding: 12px;
    border-radius: 6px;
    font-size: 22px;
    margin: 40px;
}

.main {

    background-color: black;
    background-image: url("https://cdn.wallpapersafari.com/20/5/nF8gWd.jpg");
    background-repeat: no-repeat;
    background-position: top;   
    height: 1400px;
}

nav  {
    text-align: center;
}

.navi li{
    display: inline-block;
    padding: 5px 25px 5px 25px ;
    font-size: 20px;
    justify-content: center;
}
h1 {

    font-size: 33px;
}

h2 {
    margin-top: 20px;
    font-size: 25px;
}
