@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.BmiForm  {
    width: auto;
    height: auto;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    padding: 30px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 6px;
    
}

.BmiResult {
    padding: 60px 40px 60px 40px;
    background-color: white;
    border: 2px solid lightgrey;
    font-size: 25px;
    font-family: 'Times New Roman', 'Times, serif';
    height: auto;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;

}


